<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Catalog</title>
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/public/scrollbar/scrollbar.css">
    <link rel="stylesheet" href="/public/01main/main.css">
    <!-- Script -->

</head>
<body>
<!-- * UPPER ************************************** -->
    <div class="bg">

        <section class="center-sect">
            <div class="center-header">
                <h2>Video Catalog</h2>
                <a class="chart-icon" href="main/data">📈</a>
            </div>
            <div class="center-button-sect">
                <a href="main/add"> <button>Add</button> </a>
                <a href="main/filter"> <button>Filter</button> </a>
                <a href="main/playlist"> <button>Playlist</button> </a>
            </div>
        </section>
    </div>


    <script>
    </script>
    <script src=""></script>
    
</body>

</html>